<template name="carList">
    <h1>Cars</h1>

    {{> insertCarForm}}
    <hr>

    <table class="table table-bordered">
        {{#each cars}}
            {{> car}}
        {{/each}}
    </table>

    {{> updateCarFormWrapper}}
</template>

<template name="insertCarForm">
    {{> quickForm
    collection="Cars"
    id="insertCarForm"
    type="insert"
    template="bootstrap3-horizontal"
    class="form-inline"
    }}
</template>


<template name="updateCarForm">
    {{> quickForm collection="Cars"
    id="updateCarForm"
    doc=currentCar
    type="update"
    }}
</template>

<template name="afPanel">
    <div class="panel panel-default">
        {{#with afFieldLabelText name=this.name}}
            <div class="panel-heading">
                <h1 class="panel-title">{{this}}</h1>
            </div>
        {{/with}}
        <div class="panel-body">
            {{> Template.contentBlock}}
        </div>
    </div>
</template>

<template name="car">
    <tr class="{{#if checked}}checked{{/if}}">
        <td><input type="checkbox" checked="{{checked}}" class="toggle-checked"/></td>
        <td>
            <div class="colorPrew" style="background-color:{{color.colorCode}}"></div>
            {{make}} {{model}}</td>
        <td>{{plate}}</td>
        <td>{{odometer}}</td>
        <td></td>
        <td></td>
        <td><a href="{{pathFor 'carPage'}}">Show</a>
            <a class="editCar" car-id="{{_id}}" href="#">Edit</a>
            Delete
        </td>

    </tr>
</template>


<template name="carPage">
    {{_id}}
    <h1>{{make}} {{model}} - {{plate}}</h1>
</template>


<template name="newCarForm">
    <form class="new-car form-inline">
        <div class="form-group">
            <input class="form-control" type="text" name="make" placeholder="Make">
            <input class="form-control" type="text" name="model" placeholder="Model">
            <input class="form-control" type="text" name="plate" placeholder="Plate">
            {{> colorSelect}}
            <input class="btn btn-primary" type="submit" value="Submit"/>
        </div>
    </form>
    <hr>
</template>

<template name="colorSelect">
    <select name="idColor" id="idColor" class="form-control custom-select idColor">
        {{#each colors}}
            <option value="{{_id}}">{{colorName}}</option>
        {{/each}}
    </select>
</template>

<template name="updateCarFormWrapper">
    <div class="modal fade" id="updateCarFormWrapper">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Car {{car._id}}</h4>
                </div>
                <div class="modal-body">
                    {{>updateCarForm}}
                </div>
            </div>
        </div>
    </div>
</template>
