<template name="taskList">
    <h1>Tasks</h1>

    {{>insertTaskForm}}
    <hr>

    <table class="table table-bordered">
        {{#each tasks}}
            {{> task}}
        {{/each}}
    </table>

    {{> updateTaskFormWrapper}}
    {{> setTimeTaskForm}}

</template>


<template name="insertTaskForm">
    {{#autoForm collection="Tasks" id="insertTaskForm" type="insert" class="row"}}
        <div class="col-md-2">
            {{> afFieldInput name='taskName'}}
        </div>
        <div class="col-md-3">
            {{> afFieldInput name='carId'}}
        </div>
        <div class="col-md-3">
            {{> afFieldInput name='locationId'}}
        </div>
        <div class="col-md-2">
            {{> afFieldInput name='startDate'}}
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary btn-block">Insert</button>
        </div>
    {{/autoForm}}
</template>


<template name="updateTaskForm">

    {{currentTask._id}}
    {{#autoForm collection="Tasks" id="updateTaskForm" doc=currentTask type="update" class="row"}}
        <div class="container">

            <div class="form-group">
                {{> afFieldInput name='taskName'}}
            </div>

            <div class="form-group">
                {{> afFieldInput name='carId'}}
            </div>

            <div class="form-group">
                {{> afFieldInput name='locationId'}}
            </div>


            <div class="form-group">Start date
                {{> afFieldInput name='startDate'}}
            </div>

            <hr>
            <div class="form-group">
                {{> afFormGroup name="executorTime" }}

            </div>

            <div class="form-group">
                <button type="submit" class="submit btn btn-primary btn-block">Update</button>
            </div>
        </div>
    {{/autoForm}}
</template>

<template name="task">
    <tr class="{{#if checked}}checked{{/if}}">
        <td>
            <input type="checkbox" checked="{{checked}}" class="toggle-checked"/>
        </td>

        <td>{{formatDate startDate}}</td>
        <td>{{taskName}}</td>
        <td>
            <div class="colorPrew" style="background-color:{{car.color.colorCode}}; border: 1px solid {{darkenColor}}"></div>
            {{car.make}} {{car.model}} {{car.plate}}
        </td>

        <td>
            {{location.locationName}},
            {{location.locationZip}},
            {{location.locationAddress}}
            {{location.locationComment}}
        </td>

        <td>
            <span task-id="{{_id}}" class="{{ setTimeButtonClass }} setTime btn">Time</span>
        </td>

        <td>
            <a class="editTask" task-id="{{_id}}" href="#">Edit</a>
            <a class="deleteTask" href="#">Delete</a>
        </td>
    </tr>
</template>


<template name="updateTaskFormWrapper">
    <div class="modal fade" id="updateTaskFormWrapper">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Task {{task._id}}</h4>
                </div>
                <div class="modal-body">
                    {{> updateTaskForm }}
                </div>
            </div>
        </div>
    </div>
</template>


<template name="setTimeTaskForm">
    <div class="modal fade" id="setTimeTaskForm">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Task {{task._id}}</h4>
                </div>
                <div class="modal-body">

                    {{currentTask._id}}
                    {{#autoForm collection="Tasks" id="updateTaskForm" doc=currentTask type="update" class="row"}}
                        <div class="container">

                            <div class="form-group">
                                Select your time
                                {{> afFieldInput name="executorTime" }}
                            </div>

                            <div class="form-group">
                                {{> afFieldInput name="message" placeholder="Or write range"}}
                            </div>

                            <div class="form-group">
                                <button type="submit" class="submit btn btn-primary btn-block">Update</button>
                            </div>
                        </div>
                    {{/autoForm}}
                </div>
            </div>
        </div>
    </div>
</template>